<body>
    <br>
        <h1 style="font-family:fantasy" class="ab">Taste our Delicious Food</h1>
        <br>
        <h3 style="color: rgb(35, 12, 243); font-family:cursive" class="ab">"There is nothing more romantic than delicious food."</h3>
     <br>
     <br>
     <br>
     <br>
     <br>
</body>
<br>
<br>
<br>
<br>

<footer>
    <div class="footer">
        <h2>Contact Details</h2>
        <br>
        Email:<a href="foodship@gmail.com">foodship@gmail.com</a><br> 
        Instagram:<a href="https://www.instagram.com"> https://www.instagram.com</a><br>
        Facebook: <a href=" https://www.fb.com">https://www.fb.com</a>
        <br>
        <br>
        <h3 style="font-family:fantasy">Get in Touch</h3>
        
    </div>
</footer>